* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-container {
    background-image: url("../assets/team/background.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .team-wrapper {
    border: 5px solid black;
    padding: 30px;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.9);
  }
  
  .container {
    display: flex;
    gap: 12px;
    size-adjust: auto;
  }
  
  .left-container, .right-container {
    flex: 1;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', serif;
    font-weight: 700;
  }
  
  .title-highlight {
    color: #FAC11F;
    font-size: 128px;
  }
  
  .title-text {
    color: black;
    font-size: 100px;
    margin: 0;
  }
  
  .image-section {
    width: 80%;
    color: #393939;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .image-section2 {
    width: 80%;
    color: #393939;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .image-section img {
    width: 100%;
    height: auto;
  }
  .image-section2 img {
    width: 100%;
    height: auto;
  }
  
  .sub-container {
    display: flex;
    margin-top: 100px;
    height: 232px;
    width: 237px;
    padding-left: 20px;
  }
  .sub-box {
    width: 100%;
    text-align: center;
  }
  .sub-box2 {
    width: 100%;
    color: #393939;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .sub-box img {
    width: 1000%;
    height: auto;
  }
  
  .sub-box2 img {
    width: 1000%;
    height: auto;
  }
  
  .intro-text {
    width: 80%;
    color: #393939;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .final-section {
    display: flex;
    gap: 5px;
    margin-top: 20px;
  }
  
  .final-box {
    width: 50%;
    text-align: center;
    color: #393939;
    margin-right: 80px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .final-box2 {
    width: 80%;
    color: #393939;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .final-box3 {
    width: 80%;
    color: #393939;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .final-box img {
    width: 100%;
    height: auto;
  }
  
  .final-box-container {
    display: flex;
    gap: 8px; /* Adjust for a very small gap */
  }
  