body {
  background-image: url("./assets/darkbg.svg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: serif;
}
body {
  padding: 0;
}

@media (max-width: 600px) {
  body {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.footer {
  margin: 0 !important;
  
}
